.formControl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: blanchedalmond;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/56fe8b24647377.56337b1ec729f.jpg");
    background-size: cover;
}
.formControl >*{
    margin : 2px;
    width : 100%;
    
}
.ModHead{
   
background-color: rgba(253, 224, 59, 0.747); 

}